<div class="col-12 col-md-3 pr-0">
    <div class="list-group text-right">
        <a href="#" class="list-group-item list-group-item-action active">
            Main
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <span class="badge badge-dark mr-auto">11</span>Most Popular
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <span class="badge badge-dark mr-auto">8</span>Most Recent
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <span class="badge badge-dark mr-auto">5</span>Most Read
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Most Ranked
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <span class="badge badge-dark mr-auto">13</span>By Topics
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <span class="badge badge-dark mr-auto">13</span>By Tags
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <span class="badge badge-dark mr-auto">13</span>By Date
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <span class="badge badge-dark mr-auto">13</span>By Author
        </a>
        <a href="" class="list-group-item list-group-item-action{% if not logged %} disabled {% endif %}">
            Write a blog
        </a>
        <a href="#" class="list-group-item list-group-item-action{% if not logged %} d-none {% endif %}">
            Logout
        </a>
    </div>
</div>
