<html>
<head>
    <title>Clock - Out of Time</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">NOT FOUND!</h1>
        <p class="lead">It seems like you have been traveling far away from home. We can not find you</p>
        <hr class="my-4">
        <p>If you wanna come back, you can take this home road.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ '?page=1' | url }}" role="button">Go Home</a>
        </p>
    </div>
</div>
</body>
</html>